<template>
	<header class="header">
		<div class="header__top">
			<picture class="logo">
				<!-- SVG fallback -->
				<source type="image/svg+xml" srcset="./../assets/humantelligence-blue.svg">
				<img src="./../assets/humantelligence-blue.png" alt="Humantelligence" title="Humantelligence">
			</picture>
			<nav class="nav">
				<div class="icon-nav" @click="showNavHandler">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="nav__default" @click="showNavHandler">
					<i class="icon-self icon"></i>
					<span class="nav__name">{{ selectedNav.name }}</span>
				</div>
				<div class="layer" @click="showNav = !showNav" v-if="showNav"></div>
				<div class="close" v-if="showNav" @click="showNav = !showNav">X</div>
				<ul class="nav__wrapper" :class="{'nav__wrapper--active' : showNav}">
					<li class="nav__item nav--title">
						<span class="nav__name">Menu</span>
					</li>
					<li class="nav__item" v-for="item in content.navItems" @click="selectedItem(item)" :key="item.name">
						<i class="icon" :class="`icon-${item.type}`"></i>
						<span class="nav__name">{{item.name}}</span>
					</li>
				</ul>
			</nav>
			<header-options :userName="content.name" :userNotifications="content.notifications"  :avatarImage="content.avatarImage"/>
		</div>
		<sub-header v-if="selectedNav" :subItem="selectedNav" />
	</header>
</template>

<script>
	import SubHeader from './SubHeader.vue';
	import HeaderOptions from './HeaderOptions';
	
	export default {
		props: {
			content: {
				type: Object,
				required: true
			}
		},
		data() {
			return {
				showNav: false,
				selectedNav: {}
			}
		},
		beforeMount() {
			this.selectedNav = this.content.navItems[0]
		},
		components: {
			subHeader: SubHeader,
			headerOptions: HeaderOptions,
		},
		methods: {
			showNavHandler() {
				this.showNav = !this.showNav
			},
			selectedItem(item) {
				this.selectedNav = item;
				this.showNav = !this.showNav;
				this.$eventHub.$emit('item-to-show', this.selectedNav.subItems[0]);
			}
		}
	}
</script>

<style lang="scss">
	@import './../scss/variables';
	.header {
		left: 0;
		min-height: 124px;
		position: fixed;
		width: 100%;
		&__top {
			align-items: center;
			background-color: $headerBgColor;
			display: flex;
			height: 64px;
			padding: 0 16px;
			position: relative;
		}
		&__options {
			align-items: center;
			background: $white;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			bottom: 0;
			box-shadow: 1px 2px 8px rgba(black, .4);
			box-sizing: border-box;
			display: flex;
			flex-flow: row-reverse;
			height: auto;
			padding: 10px;
			position: fixed;
			right: 0;
			top: auto;
			// Medium devices (tablets, 768px and up)
			@media (min-width: 768px) {
				box-shadow: none;
				height: 100%;
				position: absolute;
				right: 30px;
				top: 0;
			}
			.search {
				margin-right: 15px;
			}
		}
	}
	
	.nav {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		margin: 0 0 0 48px;
		position: relative;
		width: 100%;
		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
			justify-content: baseline;
			margin: 0 48px;
		}
		.close {
			position: relative;
			z-index: 3;
			cursor: pointer;
			color: $fontNavColor;
			font-size: 24px;
			// Medium devices (tablets, 768px and up)
			@media (min-width: 768px) {
				display: none;
			}
		}
		&__wrapper {
			background: $white;
			display: none;
			left: 0;
			margin-top: 0;
			padding: 24px 32px 24px 60px;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			z-index: 2;
			// Medium devices (tablets, 768px and up)
			@media (min-width: 768px) {
				box-shadow: 1px 2px 8px rgba(black, .4);
				z-index: 1;
				position: absolute;
				top: -10px;
				left: -20px;
				height: auto;
				width: auto;
			}
			&--active {
				display: block;
			}
		}
		&__item {
			align-items: center;
			cursor: pointer;
			display: flex;
			margin: 0;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
			&:nth-child(2) {
				margin-top: 30px;
			}
			.icon {
				height: 24px;
				width: 24px;
			}
			.nav__name {
				font-size: 18px;
			}
		}
		&--title {
			position: absolute;
			top: 12px;
			padding: 0;
		}
		&__name {
			margin-left: 5px;
			color: $fontNavColor;
			font-size: 20px;
		}
		&__default {
			display: flex;
			align-items: center;
			cursor: pointer;
			.icon {
				width: 20px;
				height: 20px;
			}
		}
	}
</style>
