<template>
	<div class="header__options">
		<user-nav :userName="userName" :userNotifications="userNotifications" :avatarImage="avatarImage"/>
		<i class="search icon-search"></i>
	</div>
</template>

<script>
	import UserNav from './UserNav.vue';
	
	export default {
		props: {
			userName: {
				type: String,
				required: true
			},
			userNotifications: {
				type: Array,
				required: true
			},
			avatarImage: {
				type: String,
				required: true
			}
		},
		components: {
			userNav: UserNav
		}
	}
</script>