<template>
	<div>
		<div class="subheader">
			<ul class="subheader__nav" v-if="subItem.subItems">
				<li class="subheader__item" v-for="item in subItem.subItems" :key="item.name">
					<a class="subheader__anchor" @click="selected(item)" :class="{'subheader__anchor--active' : item.name === selectedItem.name}" href="#"> {{item.name}}</a>
				</li>
			</ul>
			<div class="ctas" v-if="subItem.subItems">
				<button class="cta">
	                <span>{{selectedItem.ctaText}}</span>
	            </button>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			subItem: {
				type: Object,
				required: true
			}
		},
		data() {
			return {
				selectedItem: {}
			}
		},
		beforeMount() {
			this.selectedItem = this.subItem.subItems[0];
		},
		watch: {
			subItem() {
				this.selectedItem = this.subItem.subItems[0];
			}
		},
		methods: {
			selected(item) {
				this.selectedItem = item;
				this.$eventHub.$emit('item-to-show', this.selectedItem);
			}
		}
	}
</script>

<style lang="scss">
	@import './../scss/variables';
	.subheader {
		background-color: $subHeaderBgColor;
		color: $white;
		padding: 0 24px;
		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
			height: 60px;	
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__item {
			width: 100%;
			height: 36px;
			a {
				justify-content: center;
			}
			@media (min-width: 768px) {
				height: 100%;
				width: auto;
				a {
					height: 100%;
				}
			}
		}

		&__nav {
			@media (min-width: 768px) {
				height: 100%;
			}
		}

		.ctas {
			padding-bottom: 20px;
			text-align: center;
			@media (min-width: 768px) {
				display: flex;
				align-items: center;
				padding: 0;
			}
		}
		&__nav,
		&__item {
			margin: 0;
		}
		&__anchor {
			align-items: center;
			color: $white;
			display: flex;
			height: 100%;
			padding: 0 24px;
			position: relative;
			&--active,
			&:hover {
				&:after {
					background-color: $tabHighLightColor;
					bottom: 0;
					content: '';
					height: 5px;
					left: 0;
					position: absolute;
					width: 100%;
				}
			}
		}
	}
</style>
