<template>
	<div class="user">
		<div class="user__notifications">
			<i class="user__notifications-icon icon-notifications"></i>
			<span class="user__notifications-length">{{userNotifications.length}}</span>
			<div class="user__notifications__content">
				<p v-for="item in userNotifications" :key="item.title">{{item.content}}</p>
			</div>
		</div>
		<picture class="user__avatar">
			<img :src="avatarImage" alt="">
		</picture>
		<span class="user__name">{{userName}}</span>
	</div>
</template>

<script>
	export default {
		props: {
			userName: {
				type: String,
				required: true
			},
			userNotifications: {
				type: Array,
				required: true
			},
			avatarImage: {
				type: String,
				required: true
			}
		}
	}
</script>

<style lang="scss">
	@import './../scss/variables';
	.user {
		align-items: center;
		display: flex;
		height: 100%;
		&__avatar {
			height: 36px;
			width: 36px;
			img {
				border-radius: 100%;
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
		&__notifications {
			display: flex;
			margin: 0 20px 0 10px;
			&__content {
				display: none;
			}
			&-length {
				align-items: center;
				background-color: $notificationLengthColor;
				border-radius: 100%;
				color: $white;
				display: flex;
				font-size: 14px;
				height: 24px;
				justify-content: center;
				margin: 0 5px;
				width: 24px;
			}
		}
		&__name {
			color: $fontNavColor;
			font-size: 14px;
			padding-left: 5px;
		}
	}
</style>
