<template>
  <div id="human" class="human">
    <header-nav 
    v-if="contentNav.navItems" 
    :content="contentNav" 
    />
    <div class="content" v-if="contentNav.navItems">
        <p class="title">{{selectedItem.content.title}}</p>
        <p class="info">{{selectedItem.content.info}}</p>
    </div>
  </div>
</template>

<script>
import Header from './components/Header';
import contentRest from './lib/rest'; 

export default {
  metaInfo: {
    title: "My Example App", // set a title
    titleTemplate: "%s - Yay!", // title is now "My Example App - Yay!"
    htmlAttrs: {
      lang: "en",
      amp: undefined // "amp" has no value
    },
    meta: [
      {
        charset: "utf-8"
      },
      {
        name: "viewport",
        content: "width=device-width, initial-scale=1"
      }
    ]
  },
  components:  {
    headerNav: Header
  },
  name: 'app',
  data () {
    return {
      contentNav: {},
      selectedItem: {}
    }
  },
  created() {
      this.$eventHub.$on('item-to-show', this.itemToShow)
  },

  beforeDestroy(){
      this.$eventHub.$off('item-to-show');
  },
  beforeMount() {
    contentRest().then(response => {
      this.contentNav = response.user
      this.selectedItem = this.contentNav.navItems[0].subItems[0]
    })
  },
  methods: {
      itemToShow(item) {
        this.selectedItem = item;
      }
  }
}
</script>

<style lang="scss">

  @import './scss/variables';

  @font-face {
      font-family: $mainFont;
      src: url("./assets/font/proximanova-semibold-webfont.woff2") format("woff2"),
          url("./assets/font/proximanova-semibold-webfont.woff") format("woff");
      font-weight: normal;
      font-style: normal;
  }

  html,
  body {
    padding: 0;
    margin: 0;
  }

  .layer {
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    left: 0;
  }

  .content {
    font-size: 16px;
    padding: 0 24px;
    margin-top: 240px;
    overflow-x: hidden;
    // Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
      margin-top: 124px;
    }
  }

  .icon {
    &-notifications {
      height: 24px;
      width: 24px;
      background: url('./assets/icons/png/notifications.png');
      background: url('./assets/icons/svg/notifications.svg'),
      linear-gradient(transparent, transparent);
      display: inline-block;
      background-size: 100%;
    }

    &-search {
      height: 24px;
      width: 24px;
      background: url('./assets/icons/png/search.png');
      background: url('./assets/icons/svg/search.svg'),
      linear-gradient(transparent, transparent);
      display: inline-block;
      background-size: 100%;
    }

    &-self {
      background: url('./assets/icons/png/sa.png');
      background: url('./assets/icons/svg/sa.svg'),
      linear-gradient(transparent, transparent);
      display: inline-block;
      background-size: 100%;
    }

    &-es {
      background: url('./assets/icons/png/es.png');
      background: url('./assets/icons/svg/es.svg'),
      linear-gradient(transparent, transparent);
      display: inline-block;
      background-size: 100%;
    }

    &-tf {
      background: url('./assets/icons/png/tf.png');
      background: url('./assets/icons/svg/tf.svg'),
      linear-gradient(transparent, transparent);
      display: inline-block;
      background-size: 100%;
    }

    &-ca {
      background: url('./assets/icons/png/ca.png');
      background: url('./assets/icons/svg/ca.svg'),
      linear-gradient(transparent, transparent);
      display: inline-block;
      background-size: 100%; 
    }

    &-nav {
      height: 18px;
      width: 25px;
      display: flex;
      flex-flow: wrap;
      cursor: pointer;
      margin-right: 20px;
      align-items: center;
      position: relative;
      z-index: 2;
      span {
        height: 3px;
        width: 100%;
        background: $subHeaderBgColor;
      }
    }
  }

  .cta {
    height: 36px;
    background-color: $ctaBgColor;
    color: $white;
    padding: 0 24px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }

  .logo {
    height: 28px;
    img {
      height: 100%;
    }
  }

  .human {
    font-family: $mainFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $mainBgColor;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    text-decoration: none;
  }
</style>
