$mainFont: "proximaSB";
$fontNavColor: #3a6ebc;
$mainTitleColor: #424242;
$tabHighLightColor: #099fe0;
$white: #ffffff;
$headerBgColor: $white;
$subHeaderBgColor: #0b4396;
$mainBgColor: #f6f8fc;
$ctaBgColor: #35cda0;
$notificationLengthColor: #F95055;